.currency-input {
    position: relative;
}
.currency-input input {
    padding-left: 30px;
}
.currency-input span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
}

.expense {
    color: rgb(255, 0, 0)!important;
}

.income {
    color: rgb(0, 160, 0)!important;
}

.actions {
    display: flex!important;
    gap: 5px;
}

.alert {
    width: 30%;
    height: 120px;
    display: block;
}

.create_form {
    width: 50%;
    margin: auto;
    max-height: 100vh;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.error {
    background-color: red;
}

.balance_card {
    display: inline-block;
    padding: 20px 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.balance_card span {
    font-weight: lighter;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: -30px;
    left: 0;
    
}

.money_card {
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: white;
    position: absolute;
    transform: translateY(50%);
}

.incomes {
    left: 20px;
}

.expenses {
    right: 20px;
}

.bi-plus {
    color: green;
}

.bi-dash {
    color: red;
}

.app-header {
    margin-bottom: 10px;
    padding: 40px 10px;
    background-color: antiquewhite;
    border-radius: 0 0 20px 20px;
}


.app-body {
    margin-top: 50px;
}

.transaction-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 10px 0;
}

.transaction-text {
    width: 60%;
    position: relative;
    left: 10px;
}

.transaction-text span {
    font-size: small;
    font-weight: 200;
}

.transaction-text h5 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}


.transactions {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-card {
    display: flex;
    
}

.transaction-actions {
    display: flex;
    flex-direction: row;
}

.transaction-value {
    display: flex;
    flex-direction: column;
}

.transaction-value h5 {
    margin: 0;
}

.transaction-actions button {
    border: none;
    background-color: inherit;
}

.add-button-float {
    border: none;
    background-color: inherit;
    font-size: 50px;
    color: rgb(70, 2, 53);
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 100;

}

.bi-trash3 {
    font-size: 120%;
}

.value-title {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}