.expense {
    color: rgb(255,0,0)!important;
}

.income {
    color: rgb(0,160,0)!important;
}

.error {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2.5em;
}

.app-header-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.balance_card {
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
}

.balance_card span {
    font-weight: lighter;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;
    position: relative;
    top: -30px;
    left: 0;
    
}

.money_card {
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    transform: translateY(50%);
}

.incomes {
    left: 2em;
}

.expenses {
    right: 2em;
}

.bi-plus {
    color: green;
}

.bi-dash {
    color: red;
}

.item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transaction-text {
    width: 50%!important;
    overflow: hidden;
    position: relative;
    left: 10px;
}

.transaction-span {
    font-size: small;
    font-weight: 100;
}

.transaction-text h5 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
}

.transaction-value {
    text-align: end;
}

a {
    text-decoration: none;
    color: inherit;
}

.buttons-login-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.login-page-header{
    text-align: center;
    background-color: inherit!important;
}


[data-bs-theme="dark"] body {
    background:rgb(28,28,30);
    background: linear-gradient(35deg, rgb(28,28,30) 0%, rgb(28,28,30) 70%, rgba(121, 120, 120, 0.657) 100%);
}

body {
    background: rgb(242,242,246);
    background: linear-gradient(35deg, rgba(242,242,246) 0%, rgba(242,242,246) 63%, rgba(0,212,255,0.5984987745098039) 100%);
    padding-top: 2em;
    height: 100vh;
}


[data-bs-theme="dark"] .transaction-page-body input {
    background-color: inherit;
    border: 1px solid rgb(71, 71, 71);
}

[data-bs-theme="dark"] #transaction-date {
    background-color: inherit;
    border: 1px solid rgb(71, 71, 71)!important;
}

.password-box {
    position: relative;
    display: flex;
    align-items: baseline;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
}

.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 1em;
}

.bottom-navbar a {
    border: none;
    background-color: inherit;
    color: #727272;
    font-size: 30px;
}

.navbar-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar-button span {
    font-size: 0.7rem;
}

.bottom-navbar a i{
    margin: 0;
    line-height: 0;
}

.user-data-container i {
    font-size: 5em;
    line-height: normal;
}

.user-data-container p {
    font-size: 1.5em;
}

.user-button {
    width: 100%;
    border: none;
    background-color: #ffffff;
    border-radius: .5em;
    height: 2.5em;
}

.user-profile {
    text-align: center;
}

.user-profile i {
    font-size: 4em;
}

.user-profile p {
    font-size: 1.5em;
}

[data-bs-theme="dark"] .user-button {
    background-color: rgb(39, 39, 41);
}

.logout-button {
    margin-top: 2em;
    color: rgb(255, 0, 0);
}

.input-field {
    display: flex;
    align-items: baseline;
    gap: 1em;
    padding-bottom: 0.2em;
}

.input-field input, select {
    border: none;
    background-color: inherit;
}

.input-field select {
    padding-left: 0.7em;
}


.input-ios {
    border: solid 0.4px #727272!important;
    border-radius: 0.5em;
    width: 100%;
    height: 2.5em;
    padding: 0 1em;
    background-color: inherit;
}

[data-bs-theme="dark"] .bottom-navbar {
    background-color: rgb(39,39,41);

}

[data-bs-theme="dark"] .bottom-navbar a{
    color: #cdcdcd;
}

[data-bs-theme="dark"] .ios-btn {
    background-color: rgb(39, 39, 41);
    width: 100%;
}

[data-bs-theme="dark"] .ios-btn-blue {
    background-color: rgb(22,117,219);
}

[data-bs-theme="dark"] .ios-btn-red {
    color: rgb(254, 1, 25);
}

.ios-btn {
    background-color: #FFFFFF;
    color: rgb(37,99,235);
    width: 100%;
}

.ios-btn-blue {
    background-color: rgb(37,99,235);
    color: #FFFFFF;
}

.ios-btn-red {
    color: rgb(254, 1, 25);
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.item-card h5 {
    margin: 0;
}

.greeting-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.income-and-expenses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr.style-two {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    margin: .5em 0;
}

[data-bs-theme="dark"] hr.style-two {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    margin: .5em 0;
}

.items .title {
    margin: 0 0 1em 0;
}

.float-button {
    width: fit-content;
    margin: 0 auto;
    font-size: 3em;
}

#dark-mode-toggle {
    font-size: 1.5em!important;
}

.btn:hover {
    background-color: inherit;
}

.bar-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.bar {
    height: 25px;
    margin: 5px 0;
    background-color: #ddd;
    position: relative;
}
.bar-fill {
    height: 100%;
    position: absolute;
}
.bar-label {
    position: absolute;
    left: 10px;
    top: 5px;
    font-weight: bold;
}

.items-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.items-title a {
    border: .1px solid;
    padding: .4em;
    border-radius: .3em;
}

.month-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.month-nav button {
    border: none;
    cursor: pointer;
    padding: .5em;
    border-radius: 5px;
}