{% extends "template.html" %}


{% block content %}

<div class="container">
    <div class="app-header-container">
        <div class="greeting-header">
            <h3>Categorias</h3>
        </div>
    </div>
    <div class="app-body">


        <div class="items">
            {% if not categories %}
            <span>Você ainda não cadastrou nenhuma categoria.</span>
            {% endif %}
            {% for c in categories %}
            <div class="item-card">
                <h5>{{ c.name }}</h5>
            </div>
            <hr class="style-two">
            {% endfor %}

            <a href="{{ url_for('create_new_category') }}">
                <button class="btn ios-btn ios-btn-blue">Criar nova categoria</button>
            </a>
        </div>
    </div>
</div>

{% include "bottom_navbar.html" %}

{% endblock %}