{% extends "template.html" %}

{% block content %}

<form method="POST">
    {% include "error.html" %}
    <div class="app-header login-page-header">
        <span>
            <h3>Olá!</h3> Faça seu login para continuar.
        </span>
    </div>
    <div class="login-page-body">
        <div class="mb-3">
            <input class="input-login" type="text" id="inputuser" name="username" placeholder="Login">
        </div>
        <div class="mb-3">
            <div class="password-box">
                <input type="password" class="input-login" id="password" name="password" placeholder="Senha">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
    </div>
    <div class="buttons-login-page">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{{ url_for('sign_up') }}">
            <button type="button" class="btn btn-outline-secondary">Cadastrar-se</button>
        </a>
    </div>
</form>

<style>

</style>

{% endblock %}