{% extends "template.html" %}

{% block content %}

<div class="container">
    <div class="app-header-container">
        <div class="user-profile">
            <i class="bi bi-person-circle"></i>
            <p>{{ full_name }}</p>
        </div>

        <div class="user-actions">
            <a href="{{ url_for('user.edit_profile', id=user_id) }}">
                <button class="user-button">Editar perfil</button>
            </a>
            <a href="{{ url_for('user.logout') }}">
                <button class="user-button logout-button">Finalizar Sessão</button>
            </a>
        </div>
    </div>
</div>

{% include "bottom_navbar.html" %}

{% endblock %}