{% extends "template.html" %}

{% block content %}

<form method="POST">
    <div class="app-header login-page-header">
        <span>
            <h3>😁</h3> Faça seu cadastro.
        </span>
    </div>
    <div class="login-page-body">
        <div class="mb-3">
            <input type="text" class="input-login" id="inputuser" name="username" placeholder="Login">
        </div>
        <div class="mb-3">
            <input type="text" name="fullname" id="inputname" class="input-login" placeholder="Nome Completo">
        </div>
        <div class="mb-3">
            <div class="password-box">
                <input type="password" class="input-login" id="password" name="password" placeholder="Senha">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
        </div>
        <div class="buttons-login-page">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-outline-secondary" onclick="showPassword()">Login</button>
            </a>
        </div>
    </div>
</form>

{% endblock %}